*
{
    margin:0;
    padding:0;
    font-family:poppins;
}

.img1,.img2,.img3,.img4,.img5
{
    width:200px;
    height:200px;
    object-fit:cover;
}
.border 
{
    outline:1px solid black;
   object-fit:cover;
    margin:5px 20px;
}
.border :hover
{ cursor:hand;
}
.center
{
    text-align:center;
}
.change
{
    margin-left:180px;
   
}
.change1
{
    margin-left:180px;
   
}
.change2
{
    margin-left:180px;
   
}

.icon
{
    margin-left:100px;
}
.icon1
{
    margin-left:90px;   
}
.icon2
{
    margin-left:100px;   
}
.icon3
{
    margin-left:100px;   
}
.back
{
    background-color:lightgray;
   
}
.back2
{
    font-size:20px;
}
.size
{
    height:55px;
}
.text
{
    text-align:justify;
}
.back1
{
    background-color:#52136c;
    
}
.shadow3
{
    background-color:#52136c;
}
.msg
{
    height:100px;
}
.para1
{
text-align:justify;
}
.picture
{
    width:100%;
    height:500px; 
   opacity:0.9;
}
.text1
{
    margin-bottom:100px;
    color:white;
}
.button2
{
    margin-bottom:60px;
}
.kenburns-bottom-right
{
    -webkit-animation: kenburns-bottom-right 5s ease-out both;
	        animation: kenburns-bottom-right 5s ease-out both;
            animation-duration: 3s;
            animation-iteration-count: infinite;
}
animation kenburns-bottom-right

@-webkit-keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
            transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
            transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}
.photo
{
    width:500px;
    height:265px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:  border  p-lg-2-box;
  -moz-box-sizing:  border  p-lg-2-box;
  box-sizing:  border  p-lg-2-box;
}

body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container {
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}



.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}
.class_nav1
{
    margin-left:70px;
}
.class_nav2
{
    margin-left:160px;
}
.class_nav3
{
    margin-left:180px;
}
.class_nav4
{
    margin-left:200px;
}
.class_nav5
{
    margin-left:160px;
}
.price
{
    color:red;
    text-decoration:line-through;
}
.price1
{
    color:black;
   
}
.ad-image
{
    width:370px;
    height:370px;
}
.ad-image2
{
    width:350px;
    height:350px;
    object-fit:cover;
}
.ad-image3
{
    width:350px;
    height:350px;
    object-fit:cover;
    padding-bottom:20px;
}
.class_button
{
    margin-left:600px;
}